:root {
  --beige: #fbf8cc;
  --pink: #732314;
  --pink600: #661f12;
  --blue: #8eecf5;
  --green: #b9fbc0;
  --green600: #86dd8f;
  --mainBackground: #030302;
  --darkLettersColor: #bfdcf1;
  --warning: #e63946;
}
