.formsContainer {
    display: flex;
    height: 60px;
    background-color: var(--pink600);
    border: 0px;
    border-radius: 8px;
    padding: 20px;
    justify-content: space-around;
}

.openai {
    width: 100%;
}

.userAddActivityForm {
    width: 100%;
}

form {
    padding: 10px;
}

#message,
#userActivity {
    display: inline-block;
    width: calc(95% - 130px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    display: inline-block;
    background-color: var(--green600);
    color: #fff;
    border: 0px;
    border-radius: 4px;
    width: 100px; /* set a standard width */
    height: 40px; /* set a standard height */
    font-size: 16px;
    cursor: pointer;
    margin: 2px;
    text-align: center; /* to center the text inside the button */
    line-height: 40px; /* to vertically center the text */
}

button:hover {
    border: 0px;
    background-color: var(--beige);
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: var(--pink600);
    position: absolute;
    height: 100%;
    overflow: auto;
}

.sidebar a,
.sidebar i {
    display: block;
    color: var(--beige);
    padding: 16px;
    text-decoration: none;
}

.sidebar a:hover:not(.active),
i:hover:not(.active) {
    color: var(--green600);
    cursor: pointer;
}

.activityContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 2px;
}

div.content {
    margin: 50px;
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.column {
    background-color: var(--beige);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tasklistContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.activity_header,
.activity_header h1 {
    text-align: center;
    padding: 20px;
}
.separator {
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

/* DIALOG EDIT  */

.task-dialog {
    width: 500px;
    border: 1px solid #ccc;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;

    background-color: #ffffff;
}

/* Form inside dialog */
.dialog-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* All input fields and select boxes */
.dialog-form input,
.dialog-form select,
.dialog-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box; /* Ensures padding and borders are included in the total width */
}

/* Close button for the dialog */
.close-button {
    position: absolute;
    padding: 5px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

/* Submit button for the form */
#saveTask {
    width: 100%;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
}

#saveTask:hover {
    background-color: #388e3c; /* Darker Green on hover */
}

/* Labels for a clearer appearance */
.dialog-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Spinner */
.spinner {
    border: 16px solid #98345439;
    border-radius: 50%;
    border-top: 16px solid #453553;
    width: 50px;
    height: 50px;
    -js-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
@-js-keyframes spin {
    0% {
        -js-transform: rotate(0deg);
    }
    100% {
        -js-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loader-container {
    visibility: hidden;
    z-index: 9999; /* This ensures it's on top of other elements */
    position: fixed; /* Makes it positioned relative to the browser window */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
        0,
        0,
        0,
        0.5
    ); /* This gives a semi-transparent black background */
    display: flex;
    justify-content: center; /* These two lines center the spinner */
    align-items: center;
}

.null-container {
    display: flex;
    flex-direction: column;
    background-color: #535252;
    border: 1px solid #535252;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
}
img {
    width: 40%;
    text-align: center;
}

ul {
    padding-inline-start: 0;
}

.edit-button {
    width: 60px;
}

.remove-button {
    width: 60px;
}

/* Mobile */
@media (max-width: 1077px) {
    /* AI and manual container input */
    .formsContainer {
        flex-direction: column;
        height: 150px;
        padding: 5px;
    }

    /* Sidebar */
    .sidebar {
        width: 100%;
        height: 50px;
        position: absolute;
        overflow: visible;
        display: flex; /* make sidebar's direct children display side by side */
        flex-wrap: nowrap;
    }

    .sidebar a,
    .sidebar i {
        display: inline-block;
    }

    /* Activity display */
    .activityContainer {
        display: flex; /* make contents of activityContainer side by side */
        align-items: center;
    }

    div.content {
        margin: 0;
        margin-top: 60px;
        margin-left: 0;
    }

    .action-panel {
        display: flex;
        flex-direction: column;
    }

    .activityButtons {
        margin-top: 10px;
    }

    .edit-button {
        width: 50px;
    }

    .remove-button {
        width: 50px;
    }

    .row {
        grid-template-columns: 1fr;
    }

    .activityButtons button {
        width: 80px;
    }

    #activityCont {
        padding-bottom: 100px;
    }
}
