#page {
  display: flex;
  flex-direction: column;
  background-color: var(--blue5);
}

#page h1 {
  margin: auto;
}

#formsContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 0 2rem;
    border-radius: 0.3rem;
    margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  padding: 2rem;
  margin: 0.3rem 0;
  background-color: var(--grey5);
}

.form h2 {
    align-self: center;
    margin-bottom: 10px;
}

.submitBtn {
  align-self: center;
  width: 100%;
}

#loginFormMessage,
#signupFormMessage {
  color: var(--warning);
  font-weight: bold;
}

.dialog {
  /* position: relative; */
  border-radius: 0.5rem;
  background-color: var(--warning);
  font-style: italic;
  color: var(--darkLettersColor);
  align-self: center;
}

@media (max-width: 550px) {
    #formsContainer {
        flex-direction: column;
        gap: 20px;
    }
}
