body {
  background-color: #ccc;
  font-family: Montserrat, sans-serif;
  background-color: var(--mainBackground);
  font-size: 16px;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5;
  height: 100vh;
  color: var(--darkLettersColor);
}
